.App {
  text-align: center;
}

.form-css {
  width: 100%;
}

a:hover {
  color: hotpink;
}

.search-row {
  background-color: aqua;
  width: 100vw;
  text-align: center;
  height: fit-content;
  padding: 5%;
  justify-content: center;
}

.grid {
  display: grid;
}

.news-container {
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: block;
  text-align: center;
  border: 1px solid black;
}

.news-tray {
  padding: auto;
}

h4 {
  font-size: 2rem;
}

.welcm-text {
  font-size: small;
}

.news-row {
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .search-div {
    text-align: center;
    height: inherit;
  }
  h4 {
    font-size: 0.9rem;
  }
  .news-tray {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
